<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= Fornnato Pizza %></p>
    <p>
      <form action = "">
      <label>Name:
        <imput type = "text" name = "name"> </imput>
      </label>
      <p>
      <label>Age:
        <imput type = "number" name = "Age"> </imput>
      </label>
      </p>
      <p>
        <label>
          <imput type = "submit" name = "Envoyer"> </imput>
        </label>
        </p>
      </form>
    </p>
  </body>
</html>
