<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= Fornnato Pizza %></p>
    <p>
      <label>Name:
        <imput type = "text" name = "name"> </imput>
      </label>
      <label>Age:
        <imput type = "text" name = "Age"> </imput>
      </label>
    </p>
  </body>
</html>
